/* .cust-info{
    margin-top: 1%;
    padding: 2%;
    border: 1.3px solid darkgray;
    border-radius: 6px;
}

.cust-info>table>tr{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: spca
}
.cust-info table tr td{
    margin: 5%;
} */
/* 
#book .form-grop{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
} */