<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>GrapesJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="dist/css/grapes.min.css">
    <script src="dist/grapes.min.js"></script>
    <script src="dist/grapesjs-plugin.js"></script>
    <script src="dist/test.js"></script>
    <style>
      body,
      html {
        height: 100%;
        margin: 0;
      }

    </style>
  </head>

  <body>
    <div id="jups"></div>
    <script>
      /* 
       *Load WebContent
       */
      // console.log('<%- typeof session %>');
      if ('<%- typeof session %>' === 'undefined') {
        $.get('theme/loadContent').done((d) => {
          $('style').append(d.css);
          $('#jups').html(d.html);
        }).fail((e) => {
          console.log(e)
        });
      } else {
        /* 
         * Intialize grapesjs Editor & config
         */
        var editor = grapesjs.init({
          height: '100%',
          container: '#jups',
          fromElement: true,
          storageManager: {
            id: 'jups_',
            type: 'remote',
            stepsBeforeSave: 2,
            storeComponents: false,
            storeStyles: false,
            storeHtml: true,
            storeCss: true,
            contentTypeJson: true,
            urlStore: "sendContent",
            urlLoad: "loadContent",
            params: {}, // For custom values on requests
          },
          assetManager: {
            assets: [],
            upload: 1,
            autoAdd: 1,
            uploadFile: function (e) {
              var file = e.dataTransfer ? e.dataTransfer.files : e.target.files;
              console.log(file.filetoupload);
            },
          },

          plugins: ['save-to-db', 'default-block'],
        });
      }
      console.log(editor.AssetManager.getConfig())

    </script>
  </body>

</html>
