<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GrapesJS</title>
    <link rel="stylesheet" href="dist/css/grapes.min.css">
    <script src="dist/grapes.min.js"></script>
    <script src="dist/grapesjs-lory-slider.min.js"></script>
    <style>
      body,
      html {
        height: 100%;
        margin: 0;
      }
    </style>
  </head>

  <body>
    <div id="gjs" style="height:0px; overflow:hidden;">
      
         </div>

    <script type="text/javascript">
      var editor = grapesjs.init({
        showOffsets: 1,
        noticeOnUnload: 0,
        container: '#gjs',
        height: '100%',
        fromElement: true,

        storageManager: { autoload: 0 },
        styleManager : {
          sectors: [{
              name: 'General',
              open: false,
              buildProps: ['float', 'display', 'position', 'top', 'right', 'left', 'bottom']
            },{
              name: 'Dimension',
              open: false,
              buildProps: ['width', 'height', 'max-width', 'min-height', 'margin', 'padding'],
            },{
              name: 'Typography',
              open: false,
              buildProps: ['font-family', 'font-size', 'font-weight', 'letter-spacing', 'color', 'line-height', 'text-shadow'],
            },{
              name: 'Decorations',
              open: false,
              buildProps: ['border-radius-c', 'background-color', 'border-radius', 'border', 'box-shadow', 'background'],
            },{
              name: 'Extra',
              open: false,
              buildProps: ['transition', 'perspective', 'transform'],
            }
          ],
        },
      });

      editor.BlockManager.add('testBlock', {
        label: 'Block',
        attributes: { class:'gjs-fonts gjs-f-b1' },
        content: `<div style="padding-top:50px; padding-bottom:50px; text-align:center title-draggable='true'">Test block</div>`
      })

     editor.BlockManager.add('imageBlock', {
        label: 'Imageslider',
        attributes: { class:'gjs-block fa fa-slideshare'},
        content: {
        type: 'image',
        src:'G:/trial.jpg',
        activeOnRender: 1
         
      }
      })

     editor.BlockManager.add('map-block', {
       label: 'Map',
      
       attributes:{ class:'fa fa-map-o gjs-block gjs-one-bg gjs-four-color-h'},
       content: {
       type: 'map', // Built-in 'map' component
       style: {
       height: '350px'
       },
   // removable: false, // Once inserted it can't be removed
       draggable: true,

  }
})
     
     editor.BlockManager.add('Video-block', {
       label: 'Video',
       attributes:{class:'fa fa-youtube-play gjs-block gjs-one-bg gjs-four-color-h'},
       content: {
       type: 'video',
       //src: 'img/video2.webm',
       style: {
       height: '350px',
       width: '615px',
       activeOnRender: 1
    }
  },
       })

      editor.BlockManager.add('link-block', {
       label: 'Link',
        attributes:{class:'fa fa-link gjs-block gjs-one-bg gjs-four-color-h'},
        content:{
        type:'link-block'  
        }
        })
    </script>

   
  </body>
</html>
