<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Hotel CMS! | </title>

  <!-- Bootstrap -->
  <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="/nprogress/nprogress.css" rel="stylesheet">
  <!-- iCheck -->
  <link href="/iCheck/skins/flat/green.css" rel="stylesheet">
  <!-- bootstrap-progressbar -->
  <link href="/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
  <!-- JQVMap -->
  <link href="/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
  <!-- bootstrap-daterangepicker -->
  <link href="/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
  <!-- Custom Theme Style -->
  <link href="/css/custom.min.css" rel="stylesheet">
  <link href="/css/custom-avil.css" rel="stylesheet">
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">

      <% include ../sidebar %>

        <!-- top navigation -->
        <% include ../nav-top %>
          <!-- /top navigation -->

          <!-- page content -->
          <div class="right_col" role="main">
            <h1>Hotel Room Avibility Modification</h1>

            <button onclick="maininsert()" id="newAvil" class="btn btn-default">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              <span class="glyphicon-class"> New</span>
            </button>
            <button onclick="mainedit()" id="editAvil" class="btn btn-default">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              <span class="glyphicon-class"> Edit</span>
            </button>

            <div id="maincontent">
              <!-- <div class="avil-instruction container">
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <div class="input-group ">
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <input type="text" name="newAvil" id="newAvil" class="form-control" />
                  </div>
                </div>
                <div class="avilForm col-md-4 col-sm-4 col-xs-12">
                  <button class="btn btn-primary">Get Avibility Form</button>
                </div>
              </div> -->
            </div>

            <div>
              
            </div>
          </div>
          <!-- /page content -->

          <!-- footer content -->
          <footer>
            <div class="pull-right">

            </div>
            <div class="clearfix"></div>
          </footer>
          <!-- /footer content -->
    </div>
  </div>

  <!-- jQuery -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- FastClick -->
  <script src="/fastclick/lib/fastclick.js"></script>
  <!-- NProgress -->
  <script src="/nprogress/nprogress.js"></script>
  <!-- gauge.js -->
  <script src="/gauge.js/dist/gauge.min.js"></script>
  <!-- bootstrap-progressbar -->
  <script src="/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
  <!-- iCheck -->
  <script src="/iCheck/icheck.min.js"></script>
  <!-- Skycons -->
  <script src="/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/Flot/jquery.flot.js"></script>
  <script src="/Flot/jquery.flot.pie.js"></script>
  <script src="/Flot/jquery.flot.time.js"></script>
  <script src="/Flot/jquery.flot.stack.js"></script>
  <script src="/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/DateJS/build/date.js"></script>
  <!-- bootstrap-daterangepicker -->
  <script src="/moment/min/moment.min.js"></script>
  <script src="/bootstrap-daterangepicker/daterangepicker.js"></script>
  <!-- bootstrap-datetimepicker -->    
  <script src="/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
  <!-- Custom Theme Scripts -->
  <script src="/js/custom.min.js"></script>
  <!-- Custom avibility functionality Scripts -->
  <script src="/avibility/avail.js"></script>
</body>
</html>