<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Hotel CMS! | </title>

  <!-- Bootstrap -->
  <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="/nprogress/nprogress.css" rel="stylesheet">
  <!-- iCheck -->
  <link href="/iCheck/skins/flat/green.css" rel="stylesheet">
  <!-- bootstrap-progressbar -->
  <link href="/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
  <!-- JQVMap -->
  <link href="/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
  <!-- bootstrap-daterangepicker -->
  <link href="/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
  <!-- Custom Theme Style -->
  <link href="/css/custom.css" rel="stylesheet">
  <link href="/css/custom-book.css" rel="stylesheet">
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">

      <% include ../sidebar %>

        <!-- top navigation -->
        <% include ../nav-top %>
          <!-- /top navigation -->

          <!-- page content -->
          <div class="right_col" role="main">
            <h1>Book Room</h1>
            <!-- Testing code for form wizard -->
            <!-- **************************** -->
            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Booking Form</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">


                    <!-- Smart Wizard -->
                    <p>*Check the filled details before going next step.</p>
                    <div id="wizard" class="form_wizard wizard_horizontal">
                      <ul class="wizard_steps">
                        <li>
                          <a href="#step-1">
                            <span class="step_no">1</span>
                            <span class="step_descr">
                              <small>Customer Details</small>
                            </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-2">
                            <span class="step_no">2</span>
                            <span class="step_descr">
                              <small>Check AVibility</small>
                            </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-3">
                            <span class="step_no">3</span>
                            <span class="step_descr">
                              <small>Booking Details</small>
                            </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-4">
                            <span class="step_no">4</span>
                            <span class="step_descr">
                              <small>Payment Mode</small>
                            </span>
                          </a>
                        </li>
                      </ul>
                      <div id="step-1">
                        <form class="form-horizontal form-label-left" onsubmit="return dobooking()" method="post">
                          <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name
                              <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="name" class="form-control has-feedback-left col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2"
                                name="cname" placeholder="Jignesh Sanghani" required="required" type="text">
                              <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            </div>
                          </div>
                          <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email
                              <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="email" id="email" name="email" placeholder="jigsSANG@gmail.com" required="required" class="form-control has-feedback-left col-md-7 col-xs-12">
                              <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            </div>
                          </div>
                          <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">Number
                              <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="tel" id="number" name="contact" placeholder="7405369698" required="required" data-validate-minmax="10,10 " class="form-control has-feedback-left col-md-7 col-xs-12">
                              <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            </div>
                          </div>
                          <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">Booking Date
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class='input-group'>
                                <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                <input name="bookdate" id="bookdate" class="form-control" readonly="readonly" />
                              </div>
                            </div>
                          </div>
                          <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">Stay Date
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="input-group ">
                                <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                <input type="text" name="resdate" id="resdate" class="form-control" />
                              </div>
                            </div>
                          </div>
                          <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">Nos. of Room
                              <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="number" id="norooms" name="norooms" placeholder="1" value="1" required="required" class="form-control has-feedback-left col-md-7 col-xs-12">
                              <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            </div>
                          </div>
                        </form>
                      </div>

                      <div id="step-2">
                        <h2 class="StepTitle">Avibility Checking</h2>
                        <span id="nightcount"></span>
                        <div id="catagoryhold">
                        </div>
                      </div>

                      <div id="step-3">
                        <h2 class="StepTitle">Bookng Details</h2>
                        <div id="bookinghold"></div>
                      </div>

                      <div id="step-4">
                        <h2 class="StepTitle">Payment</h2>
                        <span id="quotehold"></span>
                        <div id="bookbutton">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /****************************\ -->
              <!-- /Testing code for form wizard -->
              <!-- <div id="mainhold">

              <form onsubmit="return dobooking()" method="post">
                <div class="cust-info container">
                  <table>
                    <tr>
                      <td>Customer Name </td>
                      <td>
                        <input type="text" name="cname" value="utsav" required>
                      </td>
                    </tr>
                    <tr>
                      <td>Contact Number </td>
                      <td>
                        <input type="number" name="contact" maxlength="10" required> </td>
                    </tr>
                    <tr>
                      <td>Email </td>
                      <td>
                        <input type="email" name="email">
                      </td>
                    </tr>
                  </table>
                  Booking Date&nbsp;
                  <input type="date" id="bookdate" name="bookdate" readonly>
                  <br>
                  <br> Rooms&nbsp;
                  <input type="number" min="1" max="5000" id="norooms" name="norooms" required>&emsp;&emsp; Check in Date&nbsp;
                  <input type="date" id="chkindate" name="chkindate" onchange="selcheckin(this.value)">&emsp;&emsp; Check out Date&nbsp;
                  <input type="date" id="chkoutdate" name="chkoutdate" onchange="showavail()">&emsp;&emsp;
                  <input type="button" name="asd" onclick="showavail()" value="Get Availability">
                  <br>
                  <br>
                </div>
                <span id="nightcount"></span>
                <br>
                <br>

                <div id="catagoryhold">

                </div>
                <div id="bookinghold">

                </div>

                <span id="quotehold"></span>

                <div id="bookbutton">

                </div>
              </form>
            </div>
          </div> -->
              <!-- /page content -->

              <!-- footer content -->
              <footer>
                <div class="pull-right">

                </div>
                <div class="clearfix"></div>
              </footer>
              <!-- /footer content -->
            </div>
          </div>

          <!-- jQuery -->
          <script src="/jquery/dist/jquery.min.js"></script>
          <!-- Bootstrap -->
          <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
          <!-- FastClick -->
          <script src="/fastclick/lib/fastclick.js"></script>
          <!-- NProgress -->
          <script src="/nprogress/nprogress.js"></script>
          <!-- Chart.js -->
          <script src="/Chart.js/dist/Chart.min.js"></script>
          <!-- gauge.js -->
          <script src="/gauge.js/dist/gauge.min.js"></script>
          <!-- bootstrap-progressbar -->
          <script src="/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
          <!-- iCheck -->
          <script src="/iCheck/icheck.min.js"></script>
          <!-- Skycons -->
          <script src="/skycons/skycons.js"></script>
          <!-- Flot -->
          <script src="/Flot/jquery.flot.js"></script>
          <script src="/Flot/jquery.flot.pie.js"></script>
          <script src="/Flot/jquery.flot.time.js"></script>
          <script src="/Flot/jquery.flot.stack.js"></script>
          <script src="/Flot/jquery.flot.resize.js"></script>
          <!-- Flot plugins -->
          <script src="/flot.orderbars/js/jquery.flot.orderBars.js"></script>
          <script src="/flot-spline/js/jquery.flot.spline.min.js"></script>
          <script src="/flot.curvedlines/curvedLines.js"></script>
          <!-- DateJS -->
          <script src="/DateJS/build/date.js"></script>
          <!-- JQVMap -->
          <script src="/jqvmap/dist/jquery.vmap.js"></script>
          <script src="/jqvmap/dist/maps/jquery.vmap.world.js"></script>
          <script src="/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
          <!-- bootstrap-daterangepicker -->
          <script src="/moment/min/moment.min.js"></script>
          <script src="/bootstrap-daterangepicker/daterangepicker.js"></script>
          <script src="/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
          <!-- validator -->
          <script src="/validator/validator.js"></script>

          <!-- Custom booking Scripts -->
          <script src="/booking/book.js"></script>
          <!-- jQuery Smart Wizard -->
          <script src="/js/jquery.smartWizard.js"></script>
          <!-- Custom Theme Scripts -->
          <script src="/js/custom.min.js"></script>

          <script type="text/javascript">
            $(document).ready(function () {
              $('#resdate').daterangepicker({
                minDate: new Date(),
                todayHighlight: true,
              });
              var out = null;
              $.ajax({
                type: "post",
                url: "/getdate",
                dataType: 'json',
                data: JSON.stringify({
                  "any": "any"
                }),
                contentType: 'application/json',
                success: function (data) {
                  out = data;


                  //conversion of received date
                  var today = new Date(out);
                  var dd = today.getDate();
                  var mm = today.getMonth() + 1;
                  var yyyy = today.getFullYear();
                  if (dd < 10) {
                    dd = '0' + dd
                  }
                  if (mm < 10) {
                    mm = '0' + mm
                  }

                  today = mm + '/' + dd + '/' + yyyy;
                  // document.getElementById("chkindate").setAttribute("min", today);
                  // document.getElementById("chkoutdate").setAttribute("min", today);
                  document.getElementById('bookdate').value = today;
                }
              });
            });

            function selcheckin(valu) { //set checkout min value to the checkin
              var setcheckout = new Date(valu);
              setcheckout.setDate(setcheckout.getDate() + 1);
              var dd = setcheckout.getDate();
              var mm = setcheckout.getMonth() + 1; //January is 0!
              var yyyy = setcheckout.getFullYear();
              if (dd < 10) {
                dd = '0' + dd
              }
              if (mm < 10) {
                mm = '0' + mm
              }

              setcheckout = yyyy + '-' + mm + '-' + dd;

              document.getElementById("chkoutdate").setAttribute("min", setcheckout);
            }
            plannamelist = null;
            ebed = 0;

            planprices = null;
            jsarr = [];

            function showavail() {
              var room = document.getElementById('norooms').value;
              if (room.localeCompare("") == 0 || room == null || room < 1) {
                document.getElementById('norooms').focus()
                return
              }
              var resdate = $('#resdate').val();
              // var chkin = document.getElementById('chkindate').value;
              // var chkout = document.getElementById('chkoutdate').value;
              var tmpDates = resdate.split(" - ");
              var chi = new Date(tmpDates[0]);
              var cho = new Date(tmpDates[1]);
              var oneDay = 24 * 60 * 60 * 1000;
              var nights = Math.round(Math.abs((cho.getTime() - chi.getTime()) / (oneDay)));
              asd = nights + " Nights";
              $('#nightcount').html(asd);
              // request getavail on nodejs
              $.ajax({
                type: "post",
                url: "/getavail",
                dataType: 'json',
                data: JSON.stringify({
                  "checkindate": tmpDates[0],
                  "checkoutdate": tmpDates[1],
                  "norooms": room,
                  "nights": nights
                }),
                contentType: 'application/json',
                beforeSend: function () {
                  // Handle the beforeSend event

                },
                complete: function () {
                    
                },
                success: function (data) {
                  plannamelist = data.plans.plannames;
                  planprices = data.plans.planprices;
                  ebed = data.ebedprice;
                  jsarr = data.jsa;
                  console.log("data" + jsarr);
                  // $('#catagoryhold').html('');
                  $('#catagoryhold').append('<table border="1" cellpadding="5" id="mytab">');
                  $('#mytab').append(
                    '<tr><th>Category Name</th><th>Room Price</th><th>Total Price</th><th>Select</th></tr>')
                  for (var i = 0; i < data.jsa.length; i++) {
                    va = data.jsa[i];
                    $('#mytab').append('<tr><td>' + va.catagory + '</td><td>' + va.roomprice + '</td><td>' + va.price +
                      '</td><td><input type="radio" name="selection" onchange="openbooking(this.value)" value="' +
                      va
                      .catagory +
                      '"</td></tr>')
                  }


                }
              });

            }
          </script>

</body>

</html>